
ul{
    width:100%;
    background-color:rgb(207, 204, 204); 
    padding-top:2px;
    padding-bottom:2px;
    li{
        width: 96%;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 7px;
        margin:0 auto;
        margin-bottom: 2px;
        cursor:pointer;
        background-color: rgb(3, 42, 126);
        color:white;
        transition: 300ms;
    }
    li:hover{
        background-color: #303031;
        
    }
    li.candidateClicked{
        background-color: #303031;
    
    }
    
}