<div *ngIf="candidate" class="container-candidate-detail">
    <div class="box-image">
        <img [src]="candidate.photo" alt="">
    </div>
    <div class="data-candidate-container">
        <p><strong>NOMBRES: </strong><span class="information-candidate">{{candidate.names}}</span></p>
        <p><strong>APELLIDOS: </strong><span class="information-candidate">{{candidate.surnames}}</span></p>
        <p><strong>FORMACIÓN ALCANZADA: </strong><span class="information-candidate">{{candidate.education}}</span></p>
        <p><strong>PAIS DE NACIMIENTO: </strong><span class="information-candidate">{{candidate.country}}</span></p>
        <!-- <p><strong>Trayectoria profesional: </strong> </p> -->
        <p><strong>PARTIDO POLÍTICO: </strong><span class="information-candidate">{{candidate.political_party}}</span></p>
    </div>
</div>


