.container-candidate-detail{
    margin: 0 auto;
    margin-top:0.5%;
    margin-bottom:0.5%;
    width: 100%;
    height: 38vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #242526;
    border-radius: 10px;
    
}

.container-candidate-detail{
    .box-image{
        flex-basis: 35%;
        height: 94%;
        
        img{
            width:100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}

.container-candidate-detail{
    .data-candidate-container{
        flex-basis:51%;
        font-size: 19px;
        color:white;
        span.information-candidate{
            font-size: 77%;
        }
    }
    
}
@media(max-width:957px){
    .container-candidate-detail{
        .data-candidate-container{
            font-size: 17px;

        }
    }
}
@media(max-width:790px){
    .container-candidate-detail{
        .box-image{
            flex-basis: 38%;
            height: 74%;
        }
    }
}
@media(max-width:757px){
    .container-candidate-detail{
        .data-candidate-container{
            font-size: 16px;
        }
    }
}

@media(max-width:646px){
    .container-candidate-detail{
        .box-image{
            flex-basis: 46%;
            height: 76%;
        }
    }
}

@media(max-width:591px){
    .container-candidate-detail{
        flex-direction: column;
        height: auto;
        .box-image{
            width: 65%;
            height: 174px;
            margin:15px;
        }
    }
    .container-candidate-detail{
        .data-candidate-container{
            font-size: 15px;
            width: 89%;
            text-align: center;
            span.information-candidate{
                font-size: 89%;
            }
        }
        
    }
}
@media(max-width:591px){
    .container-candidate-detail{
        .box-image{
            width: 72%;

        }
    }

}
@media(max-width:464px){
    .container-candidate-detail{
        .box-image{
            width: 90%;

        }
    }
}
@media(max-width:387px){
    .container-candidate-detail{
        .box-image{
            width: 90%;
            height: 152px;
            margin:10px;
        }
    }

}






