<div *ngIf="candidate" class="container-candidate-detail">
    <div class="box-image">
        <img src="" alt="">
    </div>
    <div class="data-candidate">
        <p><strong>Nombres: </strong>{{candidate['Prenombres']}}</p>
        <p><strong>Apellidos: </strong>{{candidate['Primer apellido']}} {{candidate['Segundo apellido']}}</p>
        <p><strong>Formación: </strong></p>
        <p><strong>Edad: </strong></p>
        <p><strong>Trayectoria profesional: </strong> </p>
        <p><strong>Partido político: </strong> </p>
    </div>
</div>
