
ul{
    width:100%;
    margin:0 auto;
    background-color:rgb(207, 204, 204); 
    padding-top: 0.15%;
    li{
        width: 96%;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 7px;
        margin:0 auto;
        margin-top:2.5px;
        margin-bottom:2.5px;
        cursor:pointer;
        background-color: rgb(3, 42, 126);
        color:white;
        transition: 300ms;
    }
    li:hover{
        background-color: #303031;
        
    }
    li.candidateClicked{
        background-color: #303031;
    
    }   
}
@media(max-width:927px){
    ul{

        li{
            width: 95%;
        }
    }
}
@media(max-width:762px){
    ul{

        li{
            width: 94%;
        }
    }
}
@media(max-width:628px){
    ul{

        li{
            width: 93%;
            margin-bottom:0px;
        }
    }
}
@media(max-width:546px){
    ul{

        li{
            width: 92%;
            
        }
    }
}
@media(max-width:474px){
    ul{

        li{
            width: 91%;
        }
    }
}
@media(max-width:400px){
    ul{

        li{
            width: 90%;
        }
    }
}
@media(max-width:400px){
    ul{

        li{
            width: 89%;
        }
    }
}
@media(max-width:367px){
    ul{

        li{
            font-size: 83%;
            text-align: center;
        }
    }
}


