/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
}
h1{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgb(18, 31, 88);
    color:white;
    text-align: center;
}