<div class="mainContainer">
    <h2>Registrate</h2>
    <h3>Es bastante fácil</h3>
    <hr>

    <form #formContact="ngForm" (ngSubmit)="onSubmit(formContact)"  >

        <!-- username -->
        <div class="container boxUsername" >
            <input type="text" placeholder="Nombre de usuario" name="username"      
                #username="ngModel" 
                [(ngModel)]="user.username" 
                [ngModelOptions]="{standalone:false}" 
                required 
                [class.mandatory]="username.touched && !username.valid">
            <svg fill="currentColor"  width="16px" height="16px" 
                viewBox="0 0 24 24" 
                [style.visibility]="username.touched && !username.valid ? 'visible': 'hidden' ">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
            </svg>
        </div>
        <!-- names and surnames -->
        <div class="container boxNameAndSurname" #boxNameAndSurname >
            <div class="boxNames" >
                <label for="names"></label>
                <input type="text" placeholder="Nombres" name="names" #names="ngModel" 
                    [ngModelOptions]="{standalone:false}" 
                    [(ngModel)]="user.first_name"      
                    pattern="[a-zA-Z]+"
                    [class.mandatory]="names.touched && !names.valid"
                    required
                    >
                <svg fill="currentColor" width="16px" height="16px" 
                    #warningAboutName
                    viewBox="0 0 24 24" 
                    [style.visibility]="names.touched && !names.valid ? 'visible': 'hidden' ">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                </svg>
            </div>
            <div class="boxSurnames">
                <input type="text" placeholder="Apellidos" name="surnames" #surnames="ngModel" [(ngModel)]="user.last_name" 
                    [ngModelOptions]="{standalone:false}" 
                    pattern="[a-zA-Z]+" 
                    [class.mandatory]="surnames.touched && !surnames.valid"
                    required>
                <svg fill="currentColor" width="16px" height="16px" 
                    viewBox="0 0 24 24" 
                    [style.visibility]="surnames.touched && !surnames.valid ? 'visible': 'hidden' ">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                </svg>
            </div>
            
            
        </div>

        <div class="container boxEmailNumber" >
            <input type="text" placeholder="Correo electrónico" name="email"      
                #email="ngModel" 
                [(ngModel)]="user.email" 
                [ngModelOptions]="{standalone:false}" 
                required 
                [class.mandatory]="email.touched && !email.valid">
            <svg fill="currentColor"  width="16px" height="16px" 
                viewBox="0 0 24 24" 
                [style.visibility]="email.touched && !email.valid ? 'visible': 'hidden' ">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
            </svg>
        </div>
        <div class="container boxPassword">
            <input type="password" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" 
                [ngModelOptions]="{standalone:false}" 
                required 
                [class.mandatory]="password.touched && !password.valid">
            <svg fill="currentColor" width="16px" height="16px" 
                viewBox="0 0 24 24" 
                [style.visibility]="password.touched && !password.valid ? 'visible': 'hidden' ">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
            </svg>
        </div>  

        <!-- gender -->
        <div class="container boxGender">
            <div>
                <label for="">Género</label>
            </div>
            <div class="optionGender">
                <label>Mujer</label>
                <input type="radio" name="gender" value="woman" [(ngModel)]="user.gender" required>
            </div>
            <div class="optionGender">
                <label>Hombre</label>
                <input type="radio" name="gender" value="man" [(ngModel)]="user.gender" required>
            </div>
            <div class="optionGender">
                <label>Otro</label>
                <input type="radio" name="gender" value="other" [(ngModel)]="user.gender" required>
            </div>
        </div>
        
        <div class="container boxButton">
            <!-- 
                --disabled only to work when every field is required 
                --[disabled] only disabled the button submit
            -->
            <input type="submit" value="Enviar" [disabled]="!formContact.form.valid">
            
        </div>
        
    </form>

</div>
<div class="message" *ngIf="status == 'success' ">
    <p style="color:red; text-align: center;">*Bienvenido, te has registrado correctamente!</p>
</div>

<!-- 

    https://medium.com/swlh/6-ways-to-dynamically-style-angular-components-b43e037852fa
 -->